body{
    background-color: #fff;
    color: #669966!important;
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
}
.navbar-inverse{
    
    border: none;
   
}


button{
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
*{
    padding: 0;
    margin: 0;
}

h5{
    color: #669966;
}
