{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container-fluid">
        <h1 class="text-center"> Welcome To Pitches Extravaganza</h1>
        <div class="pitch">
            <div class="col-md-4">
                {% for post in posts %}
    
                <h5>Title : {{ post.title }}</h5>
                <h5>Category : {{ post.category }}</h5>
                <h5>Content : {{ post.content }}</h5>
                <p>Posted on : {{post.date_posted.strftime('%Y-%m-%d')}}</p>
                <p>Posted by : {{post.user.username}}</p> 
                <a href="{{ url_for('main.post_details', id = post.id)}}"><button class="rounded-pill">Add a comment</button></a>
                

                <div class="col-md-4 upvote">
                    <span class="foot"> <a href="{{url_for('main.like',id = post.id)}}"><i class="fa fa-thumbs-up"></i> Upvotes: {{post.upvote.count()}}</a></span>
                </div>
                <div class="col-md-4 downvote">
                    <span class="foot"> <a href="{{url_for('main.dislike',id = post.id)}}"> <i class="fa fa-thumbs-down"></i> Downvotes: {{post.downvote.count()}}</a></span>
                </div>
                {% endfor %}
            </div>

</div>


{% endblock%}