{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-center"> Welcome To Pitches Extravaganza</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                    <h5>Title : {{ post.title }}</h5>
                </div>
                <div class="panel-body text-start">
                    <h5>Category : {{ post.category }}</h5>
                    <h5>Content : {{ post.content }}</h5>
                    <p>Posted on : {{post.date_posted.strftime('%Y-%m-%d')}}</p>
                    <p>Posted by : {{post.user.username}}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.post_details', id = post.id)}}"><button class="btn-success">Add a
                            comment</button></a>


                    <div class="col-md-4 upvote">
                        <span class="foot"> <a href="{{url_for('main.like',id = post.id)}}"><button class="btn-success">Upvotes:{{post.upvote.count()}}</button></a></span>
                    </div>
                    <div class="col-md-4 downvote">
                        <span class="foot"> <a href="{{url_for('main.dislike',id = post.id)}}"> <button class="btn-danger">Downvotes:{{post.downvote.count()}}</button></a></span>
                    </div>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>


    {% endblock%}